<div *ngIf="loading" class="text-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading" class="container mt-4 fade-in">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h4 class="mb-0">List Barang</h4>
    </div>
    <div class="card-body">
      <div class="mb-3 d-flex align-items-end justify-content-between flex-wrap">
        <div class="d-flex mb-2 mb-md-0">
          <input type="text" [(ngModel)]="keyword" (input)="searchBarang()" placeholder="Cari barang..."
            class="form-control me-2" />

          <input type="date" [(ngModel)]="startDate" class="form-control me-2" placeholder="Start Date" />
          <input type="date" [(ngModel)]="endDate" class="form-control me-2" placeholder="End Date" />
          <button (click)="filterByDateRange()" class="btn btn-dark">Filter</button>
        </div>

        <button (click)="addBarang()" class="btn btn-dark btn-rounded">
          <fa-icon [icon]="faCirclePlus"></fa-icon>
        </button>
      </div>

      <div class="mb-3 mt-4 text-center">
        <label for="sortOptions" class="form-label">Sort by:</label>
        <select id="sortOptions" class="form-select w-25 mx-auto" [(ngModel)]="selectedSortOption"
          (change)="onSortChange()">
          <option value="">Select sorting option</option>
          <option value="name">Sort by Nama</option>
          <option value="date">Sort by Tanggal</option>
        </select>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover" style="z-index: -100 !important;">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Nama Barang</th>
              <th>Stok</th>
              <th>Jumlah Terjual</th>
              <th>Tanggal Transaksi</th>
              <th>Jenis Barang</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let barang of barangList; let i = index" class="fade-in">
              <td>{{ i + 1 + (currentPage * pageSize) }}.</td>
              <td [innerHTML]="barang.nama_barang | highlight: keyword"></td>
              <td>{{ barang.stok }}</td>
              <td>{{ barang.jumlah_terjual }}</td>
              <td>{{ barang.tanggal_transaksi | date:'dd-MM-yyyy' }}</td>
              <td>{{ barang.jenis_barang }}</td>
              <td>
                <div class="action-icons">
                  <a (click)="editBarang(barang.id)">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </a>
                  <a class="text-danger" (click)="deleteBarang(barang.id)">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center d-flex align-items-center">
          <li class="page-item">
            <button (click)="previousPage()" [disabled]="currentPage === 0" class="page-link">
              << </button>
          </li>
          <li class="page-item mx-2">
            <button (click)="showAll()" class="btn btn-outline-dark">Show All</button>
          </li>
          <li class="page-item">
            <button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= totalItems" class="page-link"> >>
            </button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>